/* Header */
.mainHeader .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader-nav {
    display: flex;
}
/* Main */
.mainContent-course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainContent-course-link {
    width: 23%;
    /* margin: 1%; */
}

.mainContent-course-link:nth-child(4n){
    margin-right: 0;
}

.mainContent-course-link:nth-child(4n+1){
    margin-left: 0;
}

/* Footer */
.footer-sponsor .container {
    display: flex;
    justify-content: space-between;
}

.footer-sponsor-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.footer-form {
    width: 25%;
}

.footer-form-fieldset {
    display: flex;
}

.footer-navMap-list {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    height: 260px;
    flex-flow: column wrap;
}

.videoAbout .container {
    display: flex;
}

.videoAbout-benefits {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-grow: 2;
}

.videoAbout-benefits-list {
    flex-grow: 1;
}

.videoAbout-video {
    flex-grow: 1;
    flex-shrink: 2;
}

/* Mobile */
@media(max-width: 768px){
    .mainHeader-nav{
        flex-direction: column;
    }

    .mainHeader .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .mainHeader-nav-link-app {
        order: -1;
    }

    .mainContent-course {
        flex-direction: column;
    }

    .mainContent-course-link {
        width: 100%;
    }

    .footer-navMap-list {
        height: auto;
        flex-direction: column;
    }

    .footer-sponsor .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-form {
        width: 100%;
    }

    .footer-sponsor-list {
        width: 100%;
    }

    .footer-form-fieldset {
        justify-content: center;
    }

    .videoAbout .container {
        flex-direction: column;
        /* align-items: center; */
    }

    .videoAbout-benefits {
        margin-top: 20px;
    }

    .videoAbout-video {
        margin: 0 auto;
    }
}

