.banner__img {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media screen and (min-width: 0) {
  .banner__img {
    height: calc(100vh - 50px);
  }
}

@media screen and (min-width: 768px) {
  .banner__img {
    height: calc(100vh - 128px);
  }
}
