.banner__title {
  color: #fdfdfd;
  font-family: pacifico, cursive;
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
  width: 100%;
}

@media screen and (min-width: 0) {
    .banner__title {
      font-size: 3rem;

    }
}

@media screen and (min-width: 768px) {
    .banner__title {
      font-size: 5.06rem;
      
    }
}